.button{
    display: inline-flex;
    align-items: center;
    padding-inline: 26px;
    height: 38px;

    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    background-color: $color-light;
    border: none;
    border-radius: $border-radius;

    white-space: nowrap;
}

.button:hover{
    background-color: $color-light-gray;
}

.header-burger-button{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    row-gap: 4px;
    width: 40px;
    height: 40px;

    padding-left: 8px;
    background-color: transparent;
    border: $border;
    border-radius: $border-radius;

    color: $color-light;
}

.header-burger-button-line:hover{
    color: $color-light-gray;
    border-color: currentColor;
}

.header-burger-button-line{
    display: flex;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 1px;
    background-color: currentColor;

    box-shadow: 16px 0px 0px currentColor;
}

@media (max-width:767px) {
    .button{
        padding-inline: 18px;
    }
}

