.agitation{
    background-color: #000;
   
}

.agitation__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.agitation__text-wrap{
    padding: 140px 280px;
}

.agitation__text-front{
    z-index: 1;
    position: relative;
}

.agitation__title{
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;

    margin-bottom: 0;
    padding-bottom: 15px;
}

.agitation__subtitle{
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.8px;

    margin-bottom: 0;
    padding-bottom: 40px;
}

.agitation__span-behind{
    font-family: "Yantramanav", sans-serif;
    font-size: 112px;
    font-weight: 700;
    line-height: 112px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    color: #000;

    -webkit-text-stroke: 1px #fff;

    position: absolute;
}

.agitation__text-front{
    padding-left: 70px;
}

.agitation__img{
    margin: -50px auto;
}

