.welcome {
    margin: 0 20px;
    height: calc(100vh - 60px);
}
.welcome__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;

    padding-top: 200px;
}

.welcome__img {
    max-width: 100%;
    padding-left: 120px;
}
.welcome__subtitle {
    font-size: 30px;
}
.welcome__title {
    font-size: 360px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.welcome__subwrap{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 30px;
}